form {
    width: 100%;
    background-color: #022c0a;
    color: whitesmoke;
}

input {
    margin: 10px 0;
    font-size: 2rem;
    padding: 0.5rem;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    transition: box-shadow 0.2s;
}

input:focus {
    border: 1px solid var(--secondary);
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
    margin-right: 40px;
    margin-left: 10px;
    font-size: 30px;
}

textarea {
    width: 90%;
    height: 200px;
    border: 3px solid #cccccc;
    padding: 5px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 50px;
}

button {
    background-color: whitesmoke;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #022c0a;
    align-items: center;
}

button:hover {
    background-color: darkslategray;
    color: whitesmoke;
}

.center{
    display: flex;
    justify-content: center;

}