* {
    box-sizing: border-box;
}

a {
    color: whitesmoke;
}

/*Sets basis for headers colors*/
header {
    display: flex;
    flex-wrap: wrap;
    color: whitesmoke;
    background-color: #022c0a;
}

.resume-header {
    display: flex;
    flex-wrap: wrap;
}

.resume-nav {
    margin-left: auto;
    margin-top: auto;
}

.resume-ul {
    list-style-type: none;
    font-family: monospace;
    font-size: 150%;
    margin-bottom: 10%;
}

.resume-li {
    display: inline-block;
    margin-right: 25px;
}

.resume-button {
    background-color: white;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 25px;
    color: #022c0a;
    align-items: center;
    border: none;
    text-decoration: none;
}

.resume-button:hover {
    background-color: white;
    text-decoration: underline;
    color: #022c0a;
}

.resume-download {
    margin-left: 5%;
    background-image: linear-gradient(to left, whitesmoke, #022c0a);
    color: whitesmoke;
    font-size: 200%;
}

/*Font info set*/
h1 {
    display: inline-block;
    text-align: left;
    font-family: cursive;
    font-size: 300%;
    margin-left: 1%;
}

/*nav location set*/
header nav {
    margin-left: auto;
    margin-top: auto;
    color: whitesmoke;
}

.margin-top {
    margin-top: 5%;
}

/*text styling*/
header nav ul {
    list-style-type: none;
    font-family: monospace;
    font-size: 250%;
}

/*display set*/
header nav ul li {
    display: inline-block;
    margin-right: 25px;
}


/*circle set for photo, plus items to set bounds*/
#profile {
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    display: left;
}

/*background image + bounds set*/
.hero {
    margin-top: -40px;
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('./assets/IMG_9395.JPG');
    background-size: cover;
    background-position: center;
}

/*text bounds are set and opacity*/
.text-left {
    padding-left: 15px;
    background-color: #022c0a;
    opacity: 80%;
    position: absolute;
    bottom: 0%;
    right: 0%;
}

/*text rules for hero set*/
.hero h2 {
    font-family: monospace;
    color: white;
    font-size: 300%;
    margin-right: 10px;
}

/*h2 rules for whole page -hero set here*/
h2 {
    font-family: cursive;
    font-size: 300%;
    color: #022c0a;
    text-decoration: underline;
    text-align: left;
}

/*paragraph styling for about*/
#about p {
    font-family: monospace;
    text-justify: right;
    line-height: 250%;
    font-size: 150%;
}

/*Sets bounds and size of the larger work box*/
#first-project {
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(images/travel-with-me.jpg);
    color: whitesmoke;
    background-size: cover;
    background-position: center;
    border: #022c0a;
    border-style: solid;
    border-width: 8px;

}

/*sets the grid, rows and colmuns for the other projects*/
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 25px;
    color: whitesmoke;
    width: 100%;
    height: 300vh;
    grid-row: 2;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 5px;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 5px;
    border: #022c0a;
    border-style: solid;
    border-width: 8px;
}

.column-borderless {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 5px;
}

.resume-p {
    font-size: 180%;
    font-style: bold;
    font-family: monospace;
    margin-left: 5%;
    margin-bottom: 2%;
    color: whitesmoke;
    padding: .5%;
    text-decoration: underline;
    background-image: linear-gradient(to left, whitesmoke, #022c0a);
}

hr {
    width: 75%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.proficiencies {
    margin-left: 5%;
    font-size: 150%;
    font-style: italic;
    font-family: monospace;
    margin-bottom: 1%;
    list-style-type: none;
}

.prof-items {
    list-style-type: circle;
    font-size: 150%;
    font-family: monospace;
    margin-left: 10%;
}

.prof-items li {
    margin-bottom: 2%;
}


/*positions the photos and sets their bounds*/
.card {
    flex-wrap: 1 0 200px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}

/*sets up the internal textboxes + fonts*/
.text-box {
    background-color: #022c0a;
    opacity: 80%;
    padding-left: 5px;
    padding-right: 5px;
    position: absolute;
    bottom: 0%;
    left: 0%;
}

.text-box h3 {
    font-family: cursive;
    font-size: 200%;
}

.text-box p {
    font-family: monospace;
    font-size: 200%;
}

/*sets flexbox*/
#contact {
    display: flex;
    flex: auto;
}

/*sets styling rules for the list*/
#contact ul {
    list-style-type: none;
    color: whitesmoke;
    font-family: monospace;
    font-size: 150%;
    text-align: center;
    justify-content: center;
}

#contact ul li {
    display: inline-block;
}

/*creates the boxes for the each dimension*/
.card-contact {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    background-color: #022c0a;
    background-size: cover;
    text-align: center;
    width: 275px;
    justify-content: center;
}

form {
    width: 100%;
}

input {
    margin: 10px 0;
    font-size: 2rem;
    padding: 0.5rem;
    margin-left: 50px;
    margin-right: 50px;
    width: 90%;
    transition: box-shadow 0.2s;
    border-style: solid;
    border-color: #022c0a;
}

input:focus {
    border: 1px solid var(--secondary);
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.5);
}

label {
    margin-right: 40px;
    margin-left: 10px;
    font-size: 30px;
    color: #022c0a;
}

textarea {
    width: 90%;
    height: 200px;
    border-style: solid;
    border-color: #022c0a;
    padding: 5px;
    margin-top: 10px;
    margin-right: 40px;
    margin-left: 50px;
}

button {
    background-color: whitesmoke;
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 25px;
    color: #022c0a;
    align-items: center;
}

button:hover {
    background-color: darkslategray;
    color: whitesmoke;
}

.center {
    display: flex;
    justify-content: center;
}

.errorBackground {
    background-color: #022c0a;
    color: whitesmoke;
    text-align: center;
    height: 100vh;
}

.errorP {
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
    font-size: 150%;
}

.contactInfoBC {
    background-color: #022c0a;
    display: flex;
    flex: auto;
    justify-content: center;
}

.anchor {
    font-size: 50px;
    margin-right: 50px;
}

.project {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 300px;
    margin: 30px;
}

.project-bg {
    position: relative;
    width: 100%;
    height: 100%;
}

.project-text {
    color: var(--secondary);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 50px;
    z-index: 900;
    opacity: 0;
}

.project-text:hover {
    background-color: rgba(2, 44, 10, .5);
    color: whitesmoke;
    opacity: 1;
    border: 10px solid var(--secondary);
    font-size: 25px;
}

.project-text h3 {
    font-size: 2.5rem;
}

.project-text a {
    text-decoration: none;
    font-weight: bold;
    color: var(--dark);
}

.project-text a:hover {
    color: var(--darker);
}

.flex-row {
    display: flex;
    flex-wrap: wrap;
}

.my-2 {
    margin-top: var(--spacing-two);
    margin-bottom: var(--spacing-two);
}


.my-5 {
    margin-top: var(--spacing-five);
    margin-bottom: var(--spacing-five);
}

ul.skills {
    line-height: 3rem;
    margin-left: 15%;
    font-size: 150%;
    font-style: bold;
}

ul.skills li {
    list-style-type: circle;
}

.exp {
    list-style-type: none;
    line-height: 0rem;
    margin-left: 5%;
    font-size: 90%;
}


footer {
    display: flex;
    flex-wrap: wrap;
    background-color: #022c0a;
    color: whitesmoke;
    font-style: monospace;
    font-size: 150%;
    justify-content: center;
}

.navActive {
    color: var(--secondary);
    cursor: default;
    text-shadow: 3px 3px 15px rgb(250, 247, 250);
}

.margin {
    margin: 0 5% 5% 5%;
}

.margin-left {
    margin-left: 10%;
}

.resume-h3 {
    text-align: center;
    font-size: 200%;
    text-decoration: underline;
    font-family: monospace;
    color: #022c0a
}



.black {
    color: black;
}

.error-text {
    font-size: 30px;
    font-style: bold;
    background-color: red;
    text-align: center;
}

/* Tablets - changes mostly font styling based on size of reader */
@media screen and (max-width: 992px) {
    h1 {
        font-size: 250%;
    }

    header nav ul {
        font-size: 200%;
    }

    .hero h2 {
        font-size: 250%;
    }

    h2 {
        font-size: 250%;
    }

    #first-project {
        height: 750px;
    }

    .projects {
        height: 200vh;
    }

    .text-box h3 {
        font-size: 200%;
    }

    .text-box p {
        font-size: 150%;
    }
}

/* Large smartphones - ont styling based on size of reader */
@media screen and (max-width: 768px) {
    h1 {
        font-size: 250%;
    }

    header nav ul {
        font-size: 200%;
    }

    .hero h2 {
        font-size: 250%;
    }

    h2 {
        font-size: 250%;
    }

    #first-project {
        height: 750px;
    }

    .projects {
        height: 200vh;
    }

    .text-box h3 {
        font-size: 200%;
    }

    .text-box p {
        font-size: 150%;
    }
}

/* Small smartphones - ont styling based on size of reader */
@media screen and (max-width: 576px) {
    h1 {
        font-size: 150%;
    }

    header nav ul {
        font-size: 100%;
        margin-bottom: 35px;
    }

    .hero h2 {
        font-size: 150%;
    }

    h2 {
        font-size: 150%;
    }

    #about p {
        font-size: 100%;
    }

    #first-project {
        height: 350px;
    }

    .projects {
        height: 200vh;
    }

    .text-box h3 {
        font-size: 100%;
    }

    .text-box p {
        font-size: 50%;
    }

    #profile {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
}