/*background image + bounds set*/
.hero{
    display: flex;
    flex-wrap:wrap;
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url('images/IMG_9395.JPG');
    background-size: cover;
    background-position: center;
}

/*text rules for hero set*/
.hero h2{
    font-family: monospace;
    color: white;
    font-size: 300%;
    margin-right: 10px;
}

/*text bounds are set and opacity*/
.text-left{
    padding-left: 15px;
    background-color: #022c0a;
    opacity: 80%;
    position:absolute;
    bottom: 0%;
    right: 0%;
}

/*positions the photos and sets their bounds*/
.card{
    flex-wrap: 1 0 200px;
    text-align: center;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
}